*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    padding: 0;
    margin: 0 auto;
    width: 960px;
    height: 960px;
    background-color: rgb(207, 200, 200);
    display: flex;
    flex-wrap: wrap;
}

.square {
    padding: 0;
    margin: 0;
    border: 0.4px solid black
}

button {
    margin: 0 auto;
    display: block;
}