*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    height: 40rem;
    background-color: rgb(207, 200, 200);
    display: grid;
}

.div {
    padding: 0;
    margin: 0;
    border: 0.4px solid black
}

button {
    margin: 0 auto;
    display: block;
}